<ion-header>
  <ion-toolbar color="tolbar" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg" fullscreen>
    <ion-slides pager="true">
        <ion-slide *ngFor="let slide of slides">
          <div class="slide-img-padding">
              <img [src]="slide.img">
          </div>
          <div>
           <h3 [innerHTML]="slide.titulo"></h3> 
          </div>
        </ion-slide>
      </ion-slides>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col 
             size-sm="10" 
              size-md="6" 
              size-lg="4" 
              size-xl="4">
                <ion-card (click)="nps()">
                  <ion-item>
                    <ion-icon name="ribbon" slot="start" color="dark"></ion-icon>
                    <ion-label>NPS</ion-label>
<!--                     <ion-spinner name="circles" *ngIf="show"></ion-spinner>
 -->                    <ion-button fill="outline" slot="end" (click)="nps()">Iniciar</ion-button>
                  </ion-item>
                  <ion-card-content>
                    This is content, without any paragraph or header tags,
                    within an ion-card-content element.
                  </ion-card-content>
                </ion-card>
              </ion-col>
              </ion-row>
              </ion-grid>
</ion-content>
<ion-footer >
  <ion-toolbar color="footer" >
    <ion-title>Sistema de Avaliação NPS ©</ion-title>
  </ion-toolbar>
</ion-footer>
