<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-title>Bem vindo (a) </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="nps()">
      <ion-card-header>
        <ion-card-title> <br/> <ion-icon name="ribbon"></ion-icon>
         <h2>NPS</h2> <br/> <br/></ion-card-title>
      </ion-card-header>
      
    </ion-card>
    
</ion-content>
