.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.bg{
  --background: linear-gradient(160deg, #39f57b 20%, #10DFC8 80%) !important;
 }

 ion-card{
  --background: #fff !important;
 }
 ion-card-title{
   text-align: center;
 }
 ion-title {
font-size: 15px
 }
 .ion-color-tolbar {
  --ion-color-base: var(--ion-color-tolbar);
}
.ion-color-footer {
  --ion-color-base: var(--ion-color-footer);
}

 ion-icon{
  font-size: 4em;
 }

ion-slide {
  display: block
}

.slide-img-padding{
  padding: 5px;
}
h3{
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 10px
}

ion-slides {
--bullet-background: grey;
--bullet-background-active: #00BFA5
}
