.bg {
    --background: linear-gradient(160deg, #00f0d1 20%, #083b76 80%) !important;
}
.ion-color-tolbar {
    --ion-color-base: var(--ion-color-tolbar);
}
.ion-color-footer {
    --ion-color-base: var(--ion-color-footer2);
} 
ion-title {
    font-size: 15px
}
ion-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px
  
  }

  .bg2{
    background-image: linear-gradient(160deg, #00f0d1 20%, #083b76 80%) !important;
    height: 99px;
    color:#fff;
    text-align: center;
}

.bg3{
    background-color: #e2fdfa !important;
    z-index: 999;
}
.padding{
    padding: 25px 34px;
}

ion-icon{
    width: 50px;
   height: 50px;
   }
   
   ion-card{
    --background:#fff;
    border-radius: 20px;
    --color: black
}

.ion-color-button {
    --ion-color-base: var(--ion-color-button);
}
.margin43{
    margin-top: -43px;
}

.justify{
    text-align: justify !important;
}

.botao{

    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #ffffff!important;
    background-color: #074179 !important;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    padding: 13px 19px;
    outline: none;
}

.botao:hover {
    background-color: #00f0d1 !important;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff !important;
    transform: translateY(-7px);
  }