

<ion-content padding class="bg" >
    <br/>
    <ion-grid>
      <ion-row justify-content-center>
          <ion-col 
           size-sm="10" 
            size-md="6" 
            size-lg="4" 
            size-xl="4">
            <h1 text-center>
    <ion-icon name="school" class="logo" color="favorite"></ion-icon>
    </h1>
    <ion-list class="bg">
 <form [formGroup]="authForm">
    <ion-item>
        <ion-label floating>
          <ion-icon name="person" color="favorite">
          </ion-icon>
        </ion-label>
        <ion-input [(ngModel)]="usuarioDto.usuario"
           name="usuario" type="text" autocapitalize="off" 
           formControlName="usuario"
           placeholder="Usuário">
          </ion-input>
          <ion-note slot="end" color="danger"
          *ngIf="usuario.dirty && usuario.hasError('required')">
            Campo Obrigatório
          </ion-note>
      </ion-item>
      <br/>
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" color="favorite">
          </ion-icon>
        </ion-label>
        <ion-input [(ngModel)]="usuarioDto.senha"
                    name="senha" type="password"
                    formControlName="senha"
                    placeholder="Senha">
          </ion-input>
          <ion-note slot="end" color="danger"
          *ngIf="senha.dirty && senha.hasError('required')">
            Campo Obrigatório
          </ion-note>
          </ion-item>
        <!--  <ion-text color="danger">
           {{mensagem}}
        </ion-text> -->
        <br>
         <ion-button expand="full" shape="round" 
                     (click)="autenticarUsuario()"
                     [disabled]="authForm.invalid">Login
            </ion-button> 
            </form>         
          </ion-list>
          </ion-col>
          </ion-row>
          </ion-grid>
      </ion-content>
