.bg {
    --background: linear-gradient(160deg, #00f0d1 20%, #083b76 80%) !important;
}

.bg3{
    background-color: #e2fdfa !important;
    z-index: 999;
}

.bg2{
    background-image: linear-gradient(160deg, #00f0d1 20%, #083b76 80%) !important;
    height: 196px;
    color:#fff;
    text-align: center;
}

.margin43{
    margin-top: -43px;
}

.padding{
    padding: 25px 34px;
}
.ion-color-tolbar {
    --ion-color-base: var(--ion-color-tolbar);
}
.ion-color-footer {
    --ion-color-base: var(--ion-color-footer2);
}  
ion-title {
    font-size: 15px
}
ion-card{
    --background:#fff;
    border-radius: 20px;
    --color: black
}
h1 {
    text-align:center
}
h3 {
    font-size: 17px
}
h2 {
    font-size: 20px
}
ion-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px
  
  }

ion-icon{
 width: 50px;
height: 50px;
}
