<ion-header>
  <ion-toolbar color="tolbar">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/nps"></ion-back-button>
      </ion-buttons>
    <ion-title>Avaliação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg">
  
    <ion-item *ngFor='let at of listaTodasAvaliacoes'>
      <ng-container *ngIf='at.IdAvaliacao == IdAvaliacao'>
          <ion-card text-center padding>
          <h2>IdAvaliação: {{at.IdAvaliacao}}</h2>
          <h2>Respondeu: {{at.Respondeu}}</h2>
          <h2>Data Hora Início: {{at.DataHoraInicioAplicacaoAvaliacao}}</h2>
          <h2>Data Hora Fim: {{at.DataHoraFimAplicacaoAvaliacao}}</h2>
          <ion-button  (click)="itens(at.IdAcesso, at.IdAplicacaoAvaliacao)"
                         shape="round">
                          Avaliar
        </ion-button>
          </ion-card>
      </ng-container>
  </ion-item>
  </ion-content> 
  <ion-footer >
      <ion-toolbar color="footer" >
        <ion-title>Sistema de Avaliação NPS ©</ion-title>
        <ion-avatar slot="end">
          <img src="./assets/logo.png">
          </ion-avatar>
      </ion-toolbar>
    </ion-footer>