.bg {
    --background: linear-gradient(160deg, #39f57b 20%, #10DFC8 80%) !important;
}
.ion-color-tolbar {
    --ion-color-base: var(--ion-color-tolbar);
}
.ion-color-footer {
    --ion-color-base: var(--ion-color-footer);
} 
ion-title {
    font-size: 15px
}
ion-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px
  
  }