
.bg{
 --background: linear-gradient(160deg, #39f57b 20%, #10DFC8 80%) !important;
}


ion-list{
    --ion-item-background: transparent;
}

ion-item {
    --background: transparent !important;
    
    border: 1px solid #fff !important;
    border-radius: 27px;
    ion-input {
        color: #fff;
        
    }
    ion-label {
        color: #fff!important;
    }
    .item-inner {
        border: 0!important;
    }
}

ion-button {
    
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #39f57b !important;
    --background: #fff !important;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    
    outline: none;
    
    }
  
  ion-button:hover {
    --background: #2aff0d !important;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff !important;
    transform: translateY(-7px);
  }

  .logo{
      font-size: 7em;

  }
  
  .ion-color-favorite {
    --ion-color-base: var(--ion-color-favorite);
}


